body {
    padding-top: 60px;
    padding-bottom: 40px;
}

table caption {
	font-weight: lighter;
	text-align: left;
	margin-bottom: 8px;
}

table tr {
	font-weight: lighter;
}

table .light {
	font-weight: lighter;
}

.parameters .left-col {
	width: 30%;
}
.parameters .right-col {	
	width: 70%;
}

.expand-it {
	cursor: pointer;
}

.expanda {
	margin-top: 10px;
}

.try-it .title {
	padding-bottom: 15px;
}

#response-body {
	font-size: 10px;
}

.endpoint-url {
	font-size: 10px;	
}

.try-it-params .left-col {
	width: 5%;
}
.try-it-params .right-col {
	width: 95%;
}
