<div class="row span12">
  <div class="span7">
  	<h1 class="lead"><%= model.get("type") %> <%= model.get("url") %></h1>
	<p><%= model.get("description") %><p>
	<strong>Arguments</strong>
	<table class="table method-parameters">
		<!-- parameter html is injected here -->
	</table>
	<div class="expand-it">		 
		 <strong>Response Parameters:</strong>
		 <i class="expand-click icon-plus"></i>
		<div id="response-params" class="expanda"></div>		 
	</div><hr />
	<div class="expand-it">		
		 <strong>Try it:</strong>
		 <i class="expand-click icon-plus"></i>
		 <div id="io-form" class="expanda"></div>		 
	</div>	
  </div>
  <div class="span4">
  	<div class="well bs-docs-sidenav affix">
  		<table class="table">
	  		<h4>Resource Information</h4><br />
	  		<tr>
	  			<td>
	  				<p>Requires API Key?</p>
	  			</td>
	  			<td>
	  				<p><strong><%= model.get("requiresAuthentication") %></strong></p>
	  			</td>
	  	    </tr>
	  	    <tr>
	  	    	<td>
	  	    		<p>Response Formats</p>
	  	    	</td>
	  	    	<td>
	  	    		<p><strong><%= model.get("responseFormats") %></strong></p>
	  	    	</td>
	  	    </tr>
	  	    <tr>
	  	    	<td>
		    		<p>HTTP Methods</p>
		    	</td>
		    	<td>
		    		<p><strong><%= model.get("httpMethods") %></strong></p> 
		    	</td>  		
	  	    </tr>
	  	    <tr>
	  	    	<td>
	  	    		<p>Response Object</p>
	  	    	</td>  	    	
	  	    	<td>
	  	    		<p><strong><a href=<%= model.get("link") %>/response>
	  	    			<%= model.get("responseObject") %></a></strong>
	  	    		</p>
	  	    	</td>  		
	  	    </tr>
  	    </table>
    </div>
  </div>	
</div>